{{!-- <h1>Dashboard Works!</h1> --}}

<h1>Hi {{user.username}}</h1>
<div class="row">
    {{#each tasks as |task| }}
    <div class="col">
        {{> workout-task-card}}
    </div>
    {{/each}}
</div>

<script type="module" src="/js/modify-task.js"></script>