<h1>Welcome!</h1>

<h3>About Us</h3>
<p>Workout Nation was built to serve the people who enjoy spending time working out and tracking their performance. Here
    at Workout Nation, you are able to track not only your workouts, but the intensity and time.</p>
<<<<<<< HEAD

<ul class="button">
   {{!-- <li class="list-group-item"> <a class="nav-link" href="/dashboard">Dashboard</a></li>
=======
<div class="choices">
<ul class="wording" class="list-group">
    <li class="list-group-item"> <a class="nav-link" href="/dashboard">Dashboard</a></li>
>>>>>>> b02ca7f4a16acb4af89de19ffa8baeff1234820c
    <li class="list-group-item"> <a class="nav-link" href="/create-task-form">Create Workout</a></li>
   <li class="list-group-item"> <a class="nav-link" href="/login">Login</a></li>--}}

   <p>Workout Nation is an app designed for everyone. Come join us and start tracking your progress today. Click below to sign up!</p>
    <li class="button"> <a class="nav-link" href="/signup">Signup</a></li>
    <li class="list-group-item"> <a class="nav-link" href="/login">Login</a></li>
    <li class="list-group-item"> <a class="nav-link" href="/signup">Signup</a></li>
    <li class="list-group-item"> <a class="nav-link" href="/profile/form">Profile-Form</a></li>
    <li class="list-group-item"> <a class="nav-link" href="/profile/display">Profile-Display</a></li>
    <li class="list-group-item"> <a class="nav-link" href="/testing">only for testing</a></li>
</ul>
</div>

<button id="logout">Logout</button>
<script src="/js/logout.js"></script>