<h1>Home Page Works!</h1>

<ul class="list-group">
    <li class="list-group-item"> <a class="nav-link" href="/testing">only for testing</a></li>
    <li class="list-group-item"> <a class="nav-link" href="/dashboard">dashboard</a></li>
    <li class="list-group-item"> <a class="nav-link" href="/create-task-form">create-task-form</a></li>
    <li class="list-group-item"> <a class="nav-link" href="/login">login page</a></li>
    <li class="list-group-item"> <a class="nav-link" href="/signup">signup page</a></li>
</ul>

<button id="logout">Logout</button>

<script src="/js/logout.js"></script>