<h1>Welcome!</h1>

<h2>About Us</h2>
<p>Workout Nation was built to serve the people who enjoy spending time working out and tracking their performance. Here at Workout Nation, you are able to track not only your workouts, but the intensity and time.</p>

<ul class="list-group">
    <li class="list-group-item"> <a class="nav-link" href="/dashboard">dashboard</a></li>
    <li class="list-group-item"> <a class="nav-link" href="/create-task-form">create-task-form</a></li>
    <li class="list-group-item"> <a class="nav-link" href="/login">login page</a></li>
    <li class="list-group-item"> <a class="nav-link" href="/signup">signup page</a></li>
</ul>