{{!-- <h1>Profile-Form Works</h1> --}}
{{!-- /* @ To Do
* change placeholder
* change style
*/
--}}
<form>
  <div class="form-group">
    <label for="inputAge">Age</label>
    <input type="email" class="form-control" id="inputAge" placeholder="age...">
  </div>

  <div class="form-group">
    <label for="inputWeight">Weight (pounds)</label>
    <input type="number" class="form-control" id="inputWeight" placeholder="weight...">
  </div>

  <div class="form-group">
    <label for="inputHight">Hight (ft)</label>
    <input type="number" class="form-control" id="inputHight" placeholder="hight...">
  </div>
  {{!-- <div class="form-group">
    <label for="inputImage">Image/Profile Picture</label>
    <input type="file" class="form-control" id="file-field">
  </div> --}}
  <div class="form-group">
    <label for="inputAge">Image Url</label>
    <input type="text" class="form-control" id="inputImage" placeholder="image...">
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <button type="submit" class="btn btn-info btn-lg mr-2" id="submitBtn">Submit</button>
    <button type="update" class="btn btn-primary btn-lg align-self-end" id="updateBtn">Update</button>
  </div>
</form>

<note>The system is designed to only allow one submission per user. If you have already submitted your response,
  attempting to submit again will not result in any action. However, you can make changes to your submission by updating
  it.</note>

<script src="/js/profile.js"></script>