<h1>Profile-Form Works</h1>

{{!-- /* @ To Do
* change placeholder
* change style
*/
--}}
<form>
  <div class="form-group">
    <label for="inputAge">Age</label>
    <input type="email" class="form-control" id="inputAge" placeholder="age...">
  </div>

  <div class="form-group">
    <label for="inputWeight">Weight (pounds)</label>
    <input type="number" class="form-control" id="inputWeight" placeholder="weight...">
  </div>

  <div class="form-group">
    <label for="inputHight">Hight (ft)</label>
    <input type="number" class="form-control" id="inputHight" placeholder="hight...">
  </div>

  {{!-- <div class="form-group">
    <label for="inputImage">Image/Profile Picture</label>
    <input type="file" class="form-control" id="file-field">
  </div> --}}

  <div class="form-group">
    <label for="inputAge">Image Url...</label>
    <input type="text" class="form-control" id="inputImage" placeholder="image...">
  </div>


  <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
  <button type="update" class="btn btn-primary" id="updateBtn">Update</button>
  <note>only allow submit once...nothing happned once you have already submit</note>
</form>

<script src="/js/profile.js"></script>