<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <div class="wrapper">
        <div class="left">
            <img src="" alt="" width="100">
            <h4>User Name</h4>
            <p> <ol>
                <li>Member since:</li>
                <li>Last Login:</li>
                <li>Favorite workout:</li>
                <li>Location:</li>
            </ol>
            </p>
        </div>
        <div class="right">
            <div class="info">
                <h3>User Statistics</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Recent Worktouts</h4>
                        <ul>
                            {{{recentWorktouts}}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>